<div>
    <div class="breadcrumbs" id="breadcrumbs">

        <ul class="breadcrumb">
            <li><i class="icon-home home-icon"></i> <a
                href="/fenxiao/index.php?s=/Index/index.html">主页</a></li>
            <li class="active">主页</li>
        </ul>

    </div>

    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <div class="error-container">
                    <div class="well">
                        <h1 class="grey lighter smaller">
                            <span class="blue bigger-125"> <i
                                class="icon-random"></i> 旅游比价系统欢迎您！
                            </span>
                        </h1>

                        <hr>
                        <div class="space"></div>

                        <div class="center">
                            <a
                                href="/fenxiao/index.php?s=/System/index.html"
                                class="btn btn-grey"> <i
                                class="icon-arrow-left"></i> 系统设置
                            </a> <a
                                href="/fenxiao/index.php?s=/Index/index.html"
                                class="btn btn-primary"> <i
                                class="icon-dashboard"></i> 系统主页
                            </a>
                        </div>
                    </div>
                </div>

                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>

</div>