
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">当前位置 > 旅游搜索</h3>
        </div>
        <div class="panel-body ly-meta">

            <div class="row">
                <div class="col-xs-2 ly-meta-data">
                    行程天数：
                </div>
                <div class="col-xs-10" id="itineraryList">
                            <span class="label {{ travelPage.selectedItinerary == itinerary ? 'label-primary' : 'label-default' }}"
                                  data-ng-click="selectMetaData({itinerary: itinerary})" data-ng-repeat="itinerary in travelPage.itineraryList">{{itinerary}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 ly-meta-data">
                    数据平台：
                </div>
                <div class="col-xs-10" id="platformList">
                            <span class="label {{ travelPage.selectedPlatform == platform ? 'label-primary' : 'label-default' }}"
                                  data-ng-click="selectMetaData({platform: platform})" data-ng-repeat="platform in travelPage.platformList">{{platform}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 ly-meta-data">
                    价格排序：
                </div>
                <div class="col-xs-10">
                    <span class="label {{ travelPage.selectedOrder == 0 ? 'label-primary' : 'label-default' }}" data-ng-click="selectMetaData({order: 0})" >升序</span>
                    <span class="label {{ travelPage.selectedOrder == 1 ? 'label-primary' : 'label-default' }}" data-ng-click="selectMetaData({order: 1})" >降序</span>
                </div>
            </div>

        </div>
    </div>

    <div class="panel panel-default">
        <div id="travelLines" class="panel-body">
            <div class="col-xs-12" data-ng-if="!travelPage.lines">
                暂无此线路信息！
            </div>
            <div class="col-xs-4 ly-line" data-ng-repeat="line in travelPage.lines">
                <div class="thumbnail">
                    <a href="{{line.infoLink}}" target="_blank">
                        <img data-ng-src="{{line.imageLink}}" class="ly-line-img" alt="{{line.title}}">
                    </a>
                    <div class="row ly-line-title">
                        <div class="col-xs-12">
                            <a href="{{line.infoLink}}" target="_blank">
                            {{line.title | limitTo:40}}
                            </a>
                        </div>
                    </div>
                    <div class="ly-dashed"></div>

                    <div class="row ly-line-info">
                        <div class="col-xs-6 text-left ly-line-price">￥{{line.price}}元</div>
                        <div class="col-xs-6 text-right ly-line-platform">{{line.platform}}</div>
                    </div>
                    <div class="row ly-line-info">
                        <div class="col-xs-6 text-left">{{line.port}}天行程</div>
                        <div class="col-xs-6 text-right">
                            <span data-ng-click="favorite(line)"><i class="glyphicon glyphicon-heart"></i>收藏</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="paginations">
        <pagination total-items="travelPage.totalNum" ng-model="travelPage.currentPage" ng-change="pageChanged()" max-size="constants.maxSize"
                    class="pagination-sm" boundary-links="true" rotate="false" items-per-page="constants.pageSize" first-text="{{constants.firstText}}"
                    last-text="{{constants.lastText}}" previous-text="{{constants.previousText}}" next-text="{{constants.nextText}}"></pagination>

    </div>
