
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">当前位置 > 我的收藏</h3>
        </div>
        
        <div id="travelLines" class="panel-body">
            <div class="col-xs-12" data-ng-if="!favoritePage.items"> 暂无收藏信息！ </div>

            <div class="col-xs-4 ly-trip" data-ng-repeat="item in favoritePage.items">
                <div class="ly-trip-inner">
                    <div class="ly-trip-pic" yy-show-refer >

                        <a href="{{item.trip.infoLink}}" target="_blank" data-ng-click="clickTripLink(line)">
                            <img data-ng-src="{{item.trip.imageLink}}" class="ly-line-img" alt="{{item.trip.title}}">
                        </a>

                        <div class="ly-trip-refer">

                            <div class="row">
                                <div class="col-xs-12">
                                    <a data-ng-click="unFavorite(item)">取消收藏</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ly-trip-content">
                        <div class="row ly-trip-info">
                            <div class="col-xs-6 text-left ly-trip-price">￥{{item.trip.price}}元</div>
                            <div class="col-xs-6 text-right ly-trip-platform">{{ showPlatform(item.trip.platform) }}</div>
                        </div>
                        <div class="row ly-trip-title">
                            <div class="col-xs-12">
                                <a href="{{item.trip.infoLink}}" target="_blank" data-ng-click="clickTripLink(line)">
                                    {{item.trip.title | limitTo:40}}
                                </a>
                            </div>
                        </div>
                        <div class="row ly-trip-info">
                            <div class="col-xs-6 text-left">
                                <span data-ng-if="item.trip.port">{{item.trip.port}}天行程</span>
                            </div>
                            <div class="col-xs-6 text-right">
                                <span>收藏时间: {{ item.createDate| date : 'yyyy-MM-dd HH:mm:ss'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            

        </div>
    </div>

    <div id="paginations">
        <pagination total-items="travelPage.totalNum" ng-model="travelPage.currentPage" ng-change="pageChanged()" max-size="constants.maxSize"
                    class="pagination-sm" boundary-links="true" rotate="false" items-per-page="constants.pageSize" first-text="{{constants.firstText}}"
                    last-text="{{constants.lastText}}" previous-text="{{constants.previousText}}" next-text="{{constants.nextText}}"></pagination>

    </div>
