
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">当前位置 > 我的收藏</h3>
        </div>
        
        <div id="travelLines" class="panel-body">
            <div class="col-xs-12" data-ng-if="!favoritePage.items"> 暂无收藏信息！ </div>
            <div class="col-xs-4 ly-line" data-ng-repeat="item in favoritePage.items">
                <div class="thumbnail">
                    <a href="{{item.trip.infoLink}}" target="_blank">
                        <img data-ng-src="{{item.trip.imageLink}}" class="ly-line-img" alt="{{item.trip.title}}">
                    </a>
                    <div class="row ly-line-title">
                        <div class="col-xs-12">
                            <a href="{{item.trip.infoLink}}" target="_blank">
                            {{ item.trip.title | limitTo:40}}
                            </a>
                        </div>
                    </div>
                    <div class="ly-dashed"></div>

                    <div class="row ly-line-info">
                        <div class="col-xs-6 text-left ly-line-price">￥{{item.trip.price}}元</div>
                        <div class="col-xs-6 text-right ly-line-platform">{{item.trip.platform}}</div>
                    </div>
                    <div class="row ly-line-info">
                        <div class="col-xs-6 text-left">{{item.trip.port}}天行程</div>
                        <div class="col-xs-6 text-right">收藏时间: {{ item.createDate| date : 'yyyy-MM-dd HH:mm:ss'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="paginations">
        <pagination total-items="travelPage.totalNum" ng-model="travelPage.currentPage" ng-change="pageChanged()" max-size="constants.maxSize"
                    class="pagination-sm" boundary-links="true" rotate="false" items-per-page="constants.pageSize" first-text="{{constants.firstText}}"
                    last-text="{{constants.lastText}}" previous-text="{{constants.previousText}}" next-text="{{constants.nextText}}"></pagination>

    </div>
